<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup">
      <section name="CoinTracer.My.MySettings" type="System.Configuration.ClientSettingsSection" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="CoinTracer.My.MySettings.CoinTracerCS" connectionString="data source=C:\Users\Andreas\AppData\Roaming\CoinTracer\cointracer.data" providerName="System.Data.SQLite.EF6" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <userSettings>
    <CoinTracer.My.MySettings>
      <setting name="LastImportMethod" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ReportDetail1" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CoinValueStrategies" serializeAs="String">
        <value />
      </setting>
      <setting name="OfflineMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CheckVersionOnStart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CheckFiatCoursesOnStart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CheckCoinCoursesOnStart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LastCheckFiatCourses" serializeAs="String">
        <value />
      </setting>
      <setting name="LastCheckVersion" serializeAs="String">
        <value />
      </setting>
      <setting name="LastCheckCoinCourses" serializeAs="String">
        <value />
      </setting>
      <setting name="LastCvsScenarioID" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UserName" serializeAs="String">
        <value />
      </setting>
      <setting name="TaxNumber" serializeAs="String">
        <value />
      </setting>
      <setting name="UseProxy" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ImportSettingKraken" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ReportLastRenderingExtension" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DataDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="AskForApiProtection" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MessageBoxSettings" serializeAs="String">
        <value />
      </setting>
      <setting name="ReportComment" serializeAs="String">
        <value />
      </setting>
      <setting name="ReportDetail2" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ImportSettingTimeDiffVircurex" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="ReportLastPlatforms" serializeAs="String">
        <value />
      </setting>
      <setting name="InventoryPricesCurrency" serializeAs="String">
        <value>EUR</value>
      </setting>
      <setting name="Layout_SplitterDistance1" serializeAs="String">
        <value>613</value>
      </setting>
      <setting name="Layout_SplitterDistance2" serializeAs="String">
        <value>159</value>
      </setting>
      <setting name="LogLevel" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CurrentCulture" serializeAs="String">
        <value>de-DE</value>
      </setting>
      <setting name="TransferDetection" serializeAs="String">
        <value />
      </setting>
      <setting name="TableExportSettings" serializeAs="String">
        <value />
      </setting>
      <setting name="LastSettingsCategory" serializeAs="String">
        <value>0</value>
      </setting>
    </CoinTracer.My.MySettings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.99.0" newVersion="1.0.99.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.diagnostics>
    <sources>
      <!-- This section configures My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment to connect the application file log. -->
          <!-- <add name="FileLog" /> -->
          <!-- Uncomment to connect the event log. -->
          <!-- <add name="EventLog" /> -->
          <!-- Uncomment to connect the event log. -->
          <!-- <add name="Delimited" /> -->
          <!-- Uncomment to connect the XML log. -->
          <!-- <add name="XmlWriter" /> -->
          <!-- Uncomment to connect the console log. -->
          <!-- <add name="Console" /> -->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener,                   Microsoft.VisualBasic, Version=8.0.0.0,                   Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" initializeData="FileLogWriter" />
      <add name="EventLog" type="System.Diagnostics.EventLogTraceListener,                   System, Version=2.0.0.0,                   Culture=neutral, PublicKeyToken=b77a5c561934e089" initializeData="sample application" />
      <add name="Delimited" type="System.Diagnostics.DelimitedListTraceListener,                   System, Version=2.0.0.0,                   Culture=neutral, PublicKeyToken=b77a5c561934e089" initializeData="c:\temp\sampleDelimitedFile.txt" traceOutputOptions="DateTime" />
      <add name="XmlWriter" type="System.Diagnostics.XmlWriterTraceListener,                   System, Version=2.0.0.0,                   Culture=neutral, PublicKeyToken=b77a5c561934e089" initializeData="c:\temp\sampleLogFile.xml" />
      <add name="Console" type="System.Diagnostics.ConsoleTraceListener,                   System, Version=2.0.0.0,                   Culture=neutral, PublicKeyToken=b77a5c561934e089" initializeData="true" />
    </sharedListeners>
  </system.diagnostics>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>